* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 30px 0;
}

nav li {
    width: 120px;
    text-align: center;
    padding: 20px 30px;
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#pic1 {
    background-color: #8B5755;
}

#pic2 {
    background-color: #577D48;
}

#pic3 {
    background-color: #928057;
}

#pic4 {
    background-color: #454754;
}

main {
    width: 100%;
    height: 100%;
    background-color: #B38B80;
}

main h2 {
    text-align: center;
    background-color: #8C5856;
    padding: 30px;
    color: white;
    margin: 0;
}

@media (min-width: 480px) {
    nav ul {
        flex-direction: row;
    }

    nav li {
        display: flex;
        height: 120px;
        background-size: contain;
        align-items: center;
        justify-content: center;
    }


    #pic1 {
        background-image: url(../images/pic1.png);
        background-color: transparent;
    }

    #pic2 {
        background-image: url(../images/pic2.png);
        background-color: transparent;
        position: relative;
        right: 30px;
    }

    #pic3 {
        background-image: url(../images/pic3.png);
        background-color: transparent;
        position: relative;
        right: 60px;
    }

    #pic4 {
        background-image: url(../images/pic4.png);
        background-color: transparent;
        position: relative;
        right: 90px;
    }

    main {
        max-width: 800px;
    }
}
