body {
    background-color: beige;
}

h1 {
    color: green;
    text-align: center;
}

h2 {
    color: blue;
}

p {
    text-decoration: underline;
    color: red;
}

blockquote {
    color: green;
    text-align: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
