* {
  box-sizing: border-box;
}
body {
 
  background-image: url("http://www.intrawallpaper.com/static/images/City_Landscape_Background_B5hx2zA.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: calc(180px * 4);
}
nav ul li {
  width: 25%;
  padding: 20px;
  text-align: center;
  float: left;
}
nav a {
  font-family: Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
.green {
  background-color: #689f5b;
}
.yellow {
  background-color: #fbc701;
}
.red {
  background-color: #d11f00;
}
.cyan {
  background-color: #0292bf;
}