#flex-header {

    display: flex;
    background-color: orange;
    padding: 10px
}

h1 {
    width: 50%;
    display: block;
    margin: 0px;


}

a {
    width: 50%;
    text-align: right;
}

img {
    width: 40px
}
