/* HINT: Use just A Colour Picker to get the colors */

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

body {
	border: 1px solid #bababa;
	margin: 0px;
	width: 370px;
	height: 600px;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FAF0E6;
}

.circle {
	width: 200px;
	height: 200px;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	background-color: #7C8500;
	border-radius: 100%;
	align-items: center;
	justify-content: center;


}

p,
small {
	font-family: fantasy;
	color: white;

}

p {
	text-transform: uppercase;
}

.xs-only,
.sm-only,
.md-only,
.lg-only {

	width: 120px;
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 2px;

}

.sm-only,
.md-only,
.lg-only {
	display: none;
}

@media screen and (min-width: 459px) {


	.xs-only {
		display: none;
	}

	.sm-only {
		display: flex;
	}

	.circle {
		background-color: #6495ed;
	}

	body {
		background-color: #ff7f50;
		width: 570px;
		height: 335px;
		max-width: 100%;
		max-height: 100%;
	}

}

@media screen and (min-width: 679px) {


	.sm-only {
		display: none;
	}
	.md-only {
		display: flex;
	}

	.circle {
		background-color: #228b22;
	}

	body {
		background-color: #fff8dc;
		width: 840px;
		height: 650px;
		max-width: 100%;
		max-height: 100%;
	}

}

@media screen and (min-width: 999px) {


	.md-only {
		display: none;
	}
	.lg-only {
		display: flex;
	}

	.circle {
		background-color: #fd4cac;
	}

	body {
		background-color: #f0ffff;
		width: 1200px;
		height: 710px;
		max-width: 100%;
		max-height: 100%;
	}

}
