* {
    box-sizing: border-box;
}

html,
body {
    font-family: Georgia, serif;
    margin: 0;
    display: flex;
    height: 100%;
}

.nav-left {
    height: 100%;
    position: fixed;
    background-color: lightgrey;
    padding: 10px;
}

ul {
    padding: 10px;
    list-style: none;
    text-align: center;
}

li {
    font-size: 1.2em;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.nav-right {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
}

p {
    padding: 10px 40px;
}

header {
    text-align: center;
    background-color: red;
}

main {
    padding: 10px;
    flex-grow: 1;
    background-color: azure;
}

footer {
    background-color: lightgreen;
    text-align: center;
}
