* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
}

span {
    display: block;
    width: 115px;
    height: 110px;
}
#facebook {
    background-image: url(/img/social-media.jpg);
    background-position: 0 0;
}

#google {
    margin-top: 5px;
    background-image: url(/img/social-media.jpg);
    background-position: 500px;
}

#instagram {
    margin-top: 5px;
    background-image: url(/img/social-media.jpg);
    background-position: 1010px;
}

#pinterest {
    margin-top: 5px;
    background-image: url(/img/social-media.jpg);
    background-position: 1520px;
}

#twitter {
    margin-top: 5px;
    background-image: url(/img/social-media.jpg);
    background-position: 1387px;
}


