<div class="my-auto">
    <div id="greeting"></div>

    <h1 class="mb-0">Todor
        <span class="text-primary">Garnev</span>
    </h1>
    <div class="subheading mb-5 d-flex">
        <span class="mr-4">0896117335</span>
        <a href="mailto:tgarnev@abv.bg" class="mr-4">tgarnev@abv.bg</a>
        <span class="d-flex align-items-center">
            Sofia
            <img src="img/flags.png" class="flag ml-1" alt="Bulgaria">
        </span>
    </div>
    <p class="mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
    <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
            <a href="https://codepen.io/dashboard/" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://repl.it/repls" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/todor-garnev-2880425a/" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/TodorGarnev" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        </li>
    </ul>
</div>
