<div class="my-auto">
    <h2 class="mb-5">Games</h2>
    <p>A few small games created by me. The most difficult and maybe interesting is <em>The target sum</em>. Let the games begin!</p>

    <section id="game-buttons" class="text-center py-3">
        <button class="btn btn-outline-danger mr-2 mb-2" id="game-target-sum">The target sum</button>
        <button class="btn btn-outline-danger mr-2 mb-2" id="game-troll">Forest adventure</button>
        <button class="btn btn-outline-danger mr-2 mb-2" id="game-dragon">Kill the dragon</button>
        <button class="btn btn-outline-danger mb-2" id="game-luck">Rock, paper, scissors</button>
    </section>

    <section id="game-section"></section>

</div>
