<div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>

    <div class="skills-icons" id="html">
        <i class="devicons devicons-html5"></i>
        <div class="progress ml-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
        </div>
    </div>

    <div class="skills-icons" id="css3">
        <i class="devicons devicons-css3"></i>
        <div class="progress ml-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
        </div>
    </div>

    <div class="skills-icons" id="jquery">
        <i class="devicons devicons-jquery"></i>
        <div class="progress ml-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div>
    </div>

    <div class="skills-icons" id="javascript">
        <i class="devicons devicons-javascript"></i>
        <div class="progress ml-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div>
    </div>

    <div class="skills-icons" id="bootstrap">
        <i class="devicons devicons-bootstrap"></i>
        <div class="progress ml-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div>
    </div>

    <div class="skills-icons" id="npm">
        <i class="devicons devicons-npm"></i>
        <div class="progress ml-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
        </div>
    </div>

    <div class="skills-icons" id="photoshop">
        <i class="devicons devicons-photoshop"></i>
        <div class="progress ml-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
        </div>
    </div>

    <div class="skills-icons" id="github">
        <i class="devicons devicons-github"></i>
        <div class="progress ml-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
        </div>
    </div>
</div>
