<p class="text-center my-4">Your job is to sum the numbers from the blue boxes to match the number in yellow one. You have to think fast!</p>

<div class="game mx-auto">
    <div class="target d-flex justify-content-center align-items-center">?</div>
    <div class="challenge-numbers d-flex flex-wrap justify-content-around mb-4">
        <div class="number">?</div>
        <div class="number">?</div>
        <div class="number">?</div>
        <div class="number">?</div>
        <div class="number">?</div>
        <div class="number">?</div>
    </div>
    <div class="footer">
        <div class="timer-value">10</div>
        <button class="start">Start</button>
    </div>
</div>
