*{
    box-sizing: border-box;
}

.labirint {
    width: 420px;
    height: 420px;
/*    border: 1px solid red;*/
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.game {
    width: 70px;
    height: 70px;
/*        border: 1px solid yellow;*/
        background-color: beige;
}

.lb {
    border-left: 2px solid black;
}

.rb {
    border-right: 2px solid black;
}

.tb {
    border-top: 2px solid black;
}

.bb {
    border-bottom:2px solid black;
}

.sexyDiv {
    background-image:url("/img/game_ball.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
     background-position: center center;
}

.divControls{
    margin:20px;
    width: 150px;
    height: 150px;
}
.control{
    width: 50px;
    height: 50px;
}
.firsLineCntrl, .secondLineCntrl, .thirdLineCntrl{
    display: flex;
    justify-content: center;
}
.secondLineCntrl{
    justify-content: space-between;
}
