*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 221, 222);
    background-image: url("/img/background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center calc(100%/2);
    background-size: auto 900px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    ;
}

.viewport {
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    -ms-perspective: 1800px;
    -o-perspective: 1800px;
    perspective: 1800px;
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    -ms-perspective-origin: 50% 200px;
    -o-perspective-origin: 50% 200px;
    perspective-origin: 50% 200px;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

/**/

/*  -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.1))); }*/

.cube {
    top: calc(100vh/1.8);
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(136deg) rotateY(1122deg);
    -moz-transform: rotateX(136deg) rotateY(1122deg);
    -ms-transform: rotateX(136deg) rotateY(1122deg);
    -o-transform: rotateX(136deg) rotateY(1122deg);
    transform: rotateX(136deg) rotateY(1122deg);
}

.cube > div {
    align-self: center;
    overflow: hidden;
    position: absolute;
    opacity: 0.95;
    height: 200px;
    width: 200px;
    background-image: url("/img/cube_backg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#mine {
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

.cube > div > div.cube-image {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    line-height: 200px;
    font-size: 30px;
    text-align: center;
    color: lightgrey!important;
    -webkit-transition: color 600ms;
    -moz-transition: color 600ms;
    -ms-transition: color 600ms;
    -o-transition: color 600ms;
    transition: color 600ms;
}

.cube > div > div.cube-image > a {
    color: lightgrey;
}

.cube > div > div.cube-image.activeDiv > a {
    color: black;
}

.cube > div:hover {
    cursor: pointer;
}

.cube > div:activeDiv {
    cursor: pointer;
}

.cube > div:first-child {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -ms-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube > div:nth-child(2) {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
    outline: 1px solid transparent;
}

.cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(100px);
    -moz-transform: rotateY(180deg) translateZ(100px);
    -ms-transform: rotateY(180deg) translateZ(100px);
    -o-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -ms-transform: rotateY(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
    outline: 1px solid transparent;
}

.cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    outline: 1px solid transparent;
}

object {
    opacity: 0.5;
}

object:hover {
    opacity: 1;
}



.labirint {
    width: 420px;
    height: 420px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.game {
    width: 70px;
    height: 70px;
    background-color: beige;
}

.lb {
    border-left: 2px solid black;
}

.rb {
    border-right: 2px solid black;
}

.tb {
    border-top: 2px solid black;
}

.bb {
    border-bottom: 2px solid black;
}

.sexyDiv {
    background-image: url("/img/game_ball.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center center;
}

.divControls {
    margin: 20px;
    width: 150px;
    height: 150px;
}

.control {
    width: 50px;
    height: 50px;
}

.firsLineCntrl,
.secondLineCntrl,
.thirdLineCntrl {
    display: flex;
    justify-content: center;
}

.secondLineCntrl {
    justify-content: space-between;
}


.carousel-inner {
    background-color: rgb(157, 157, 157);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-block {
    max-height: 70vh;
    background-color: #bebecb;
}

.main_main_div_th {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #c1c3c3;
}

.main_div_th {
    width: 70vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.main_div_inside {
    width: 33%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img_in_mine {
    width: 100%;
    height: 100%;
}

.about_me_div {
    padding: 20px;
    border-radius: 20px;
    background-color: #e1e3e1;
    text-align: justify;
    margin: 3%;
}
.menu_pic_me{
    width: 150px;
    height: auto;
}



/* 576x460 NAGORE*/

@media (max-width: 575px) {
    .viewport {
        -webkit-transform: scale(0.55, 0.55);
        -moz-transform: scale(0.55, 0.55);
        -ms-transform: scale(0.55, 0.55);
        -o-transform: scale(0.55, 0.55);
        transform: scale(0.55, 0.55);
    }
    .cube {
        top: calc(100vh/1.55);
    }
    body {
        background-position: center calc(100%/2.9);
        background-size: auto 700px;
    }

    .main_div_th {
        width: 50vh;
        height: 50vh;
    }
}

/* 576x460 NAGORE*/

@media (max-width: 768px) {

    .viewport {
        -webkit-transform: scale(0.55, 0.55);
        -moz-transform: scale(0.55, 0.55);
        -ms-transform: scale(0.55, 0.55);
        -o-transform: scale(0.55, 0.55);
        transform: scale(0.55, 0.55);
    }
    .cube {
        top: calc(100vh/1.55);
    }
    body {
        background-position: center calc(100%/2.9);
        background-size: auto 700px;
    }
}

/*Medium devices (tablets, 768px and up) 768x480 NAGORE*/

@media (min-width: 768px) {
    .viewport {
        -webkit-transform: scale(0.7, 0.7);
        -moz-transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -o-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
    }
    .cube {
        top: calc(100vh/2.0);
    }
    body {
        background-position: center calc(100%/2.1);
        background-size: auto 1000px;
    }
}

/*Large devices (desktops, 992px and up) 992x560 NAGORE */

@media (min-width: 992px) {
    .viewport {
        -webkit-transform: scale(0.7, 0.7);
        -moz-transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -o-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
    }
    .cube {
        top: calc(100vh/1.8);
    }
    body {
        background-position: center calc(100%/2.5);
        background-size: auto 900px;
    }
}



/* Extra large devices (large desktops, 1200px and up) 1200x780 NAGORE */

@media (min-width: 1200px) {
    .viewport {
        -webkit-transform: scale(0.8, 0.8);
        -moz-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -o-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    .cube {
        top: calc(100vh/1.97);
    }
    body {
        background-position: center calc(100%/2.45);
        background-size: auto 1100px;
    }
}
