* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

header,
#intro,
nav {
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #363636;
}

header nav li {
    margin: 10px;
}

header {
    display: flex;
    align-items: center;
    padding: 1em;
}

header h1 {
    flex-grow: 1;
}

#intro {
    padding: 1em;
    background-image: url(/img/header-bg.jpg);
    height: 65vh;
    min-height: 400px;
    background-size: cover;
    background-position: center bottom;

}

.middlenav {
    display: flex;
    justify-content: space-around;
}

.middlenav li {
    margin: 25px;
}

.pictures1 {
    display: flex;
    justify-content: center;

}

.pictures2 {
    display: flex;
    justify-content: center;

}

.pictures2 img {
margin: 10px;
}

.pictures1 img {
    margin:10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: gray;
    height: 300px;
}
footer i {
    margin: 10px;
}
icons {
    justify-content: center;
    align-items: center;
}
