* {
    box-sizing: border-box;
}

@media (max-width: 649px) {
    body {
        background-color: lightblue;
    }
}

@media (min-width: 650px) {
    body {
        background-color: lightsalmon;
    }
}
