body {
    padding-bottom: 500px;
}


body {

    background-color: beige;
}

header {
    background-color: lightyellow;
    
        
}

article {
    background-color: antiquewhite;
}

footer {
    
            text-align: right;
}

#table {
    
    background-color: aqua
}

#article4 {
    
    background-color: aqua

}



