html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

p {
    color: #fff;
    font-family: fantasy, cursive;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}

small {
    color: #fff;
    font-family: fantasy;
    font-size: 1.0em;
}


@media screen and (max-width: 460px) {
    .sm-only,
    .md-only,
    .lg-only {
        display: none;
    }

    .xs-only {
        width: 100%;
        max-width: 200px;
        height: 200px;
        border-radius: 100%;
        background-color: #7C8500;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    
    body {
        background-color: #FAF0E6;
    }

}

@media screen and (min-width: 461px) and (max-width: 679px) {
    .xs-only,
    .md-only,
    .lg-only {
        display: none;
    }

    .sm-only {
        flex-basis: 200px;
        height: 200px;
        border-radius: 100%;
        background-color: #699BEA;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    body {
        background-color: #EF875E;
    }

}


@media screen and (min-width: 680px) and (max-width: 999px) {
    .sm-only,
    .xs-only,
    .lg-only {
        display: none;
    }

    .md-only {
        flex-basis: 200px;
        height: 200px;
        border-radius: 100%;
        background-color: #4A8422;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    body {
        background-color: #FFF7DD;
    }

}

@media screen and (min-width: 1000px) {
    .sm-only,
    .xs-only,
    .md-only {
        display: none;
    }

    .lg-only {
        flex-basis: 200px;
        height: 200px;
        border-radius: 100%;
        background-color: #E84D98;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    
    body {
        background-color: #F3FEFE;
    }

}