main {
    margin-top: 10vh;
}

.panel-login {
    margin: 0 auto;
    padding: 1em;
    background-color: #F5F5F5;
    width: 100%;
    height: 60vh;
}


main form .form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .form-flex label {
    width: 100px;
}


form div .customized {
    width: 50%;

}

#text-id{
    resize: none;
}


.btn-warning {
    position: relative;
    left: 40%;
}
