* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    height: 100%;
    font-family: cursive;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 90px;
    background-color: #61C7ED;
}

header h1 {
    color: #fff;
    font-family: fantasy;
    padding: 2%;
}

main {
    background-color: white;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

article {
    margin: 2em;
    padding: 2em;
}

article p {
    text-align: justify;
}

a,
a:visited {
    color: #888;
    text-decoration: none;
}

nav ul {
    padding: 0;
    list-style: none;
}


.left {
    min-width: 200px;
    background-color: #F8FB90;
}

.right {
    flex-grow: 1;
    overflow-y: auto;
}

.left nav {
    margin-top: 40px;
}

.left h3 {
    text-align: center;
    font-size: 1.2em;
}

.left nav ul {
    font-family: fantasy;
    flex-wrap: wrap;
    justify-content: center;
}

.left nav ul li {
    padding: 10px 20px;
    margin: 10px 20px;
    min-width: 120px;
}



.right h3 {
    text-align: left;
}

.right h2 {
    margin: 30px;
    padding: 15px;
}

.button-top img {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .left {
    background-color: #61C7ED;
}
 
    header {
        background-color: #F8FB90;
    }
    
    header h1 {
        color: #000;
    }
}


@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    header {
    width: 100%;
    height: auto;
    background-color: #61C7ED;
}
    
    main {
        display: flex;
        flex-direction: inherit;
    }

    h1 {
        text-align: center;
    }
    
    .left, ul, li {
        display: inline-block;
        text-align: left;
    }
    
    .left {
        height: auto;
        width: 100%;
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        
    }
    
    .left {
        padding-top: 0;
        margin-top: 0;
    }   
    
    
    .left nav ul li {
    padding: 0;
    margin: 0;
        min-width: 70px;
        margin-left: 15px;
}
    
}
