body #Nav {
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    background-color: none;
    display: flex;
    flex-direction: row;
    align-tems: center;
    width: 100%;
    justify-content: space-around;
}

.flex-item {

    width: 100px;
    text-align: center;
    padding: 10px;
    float: left;


}

#Nav1 {
    background-color: green;

}

#Nav2 {

    background-color: orange;
}

#Nav3 {

    background-color: red;
}

#Nav4 {
    background-color: darkblue;

}

.Navlink {
    text-decoration: none;
    color: white;

}
