* {
    box-sizing: border-box;
}


body {
    background-color: #ccc;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  
}


#header_image {
    width: 1200px;
    height: auto;
}

nav {
    display: inline-table;
    position: relative;
    width: 100%;
}

.unordered_list {

    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

div {
    width: inherit;
}

.color1 {
    background-color: #a9d15e;
    width: 300px;
}

.color2 {
    background-color: #838c89;
    width: 300px;
}

.color3 {
    background-color: #f6a19b;
    width: 300px;
}

.color4 {
    background-color: #ffbe4f;
    width: 300px;
}

li {
    display: inline-block;
    font-size: 1.2em;
    line-height: 25px;
    margin: 0px;
    text-align: center;
    padding: 8px;
    float: left;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
}

a:hover {
    background-color: #005f5f;
}


section {
    margin: 0px;
    padding: 0px;
}


.img_in_section2 {
    display: inline-block;
}


#image_01 {
    height: auto;
    width: 590px;
}

#image_02 {
    height: auto;
    width: 600px;
    float: right;
}

#image_03 {
    height: auto;
    width: 1200px;
}

#footer_text {
    text-align: center;
}
