body {
    background-color: #eee;
}

header {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #429C45;
}

footer {
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #2F3E4E;
    color: #ddd;
}

footer > a {
    background-color: #429C45;
    width: 40px;
    height: 40px;
    color: #ddd;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer > p {
    margin: 0;
    letter-spacing: .02em;
}

.container {
    margin-top: 50px;
    padding-bottom: 100px;
}


div .text-md-left {
    margin-left: 20px;
}
