* {
    box-sizing: border-box;
}

body {

    margin: auto;
    height: 100vh;
    width: 100%;
    background-color: #DAF2DA;

}

header {
    border: 5px solid #CF4594;
    text-align: center;
    margin: 10px;
    background-color: #61C7ED;
}

.flex-main {
    display: flex;
    justify-content: space-around;


}

.left {
    border: 1px solid black;
    flex-grow: 1;
    text-align: center;
    margin: 10px;
    background-color: #F8FB90;


}

ul {

    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: column;


}

li {
    margin: 20px;

}

.right {

    border: 1px solid black;
    width: 75%;
    margin: 10px;
    background-color: white;
}


#arrow {

    background-color: #CF4594;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    align-self: right;
}

.glyphicon-menu-up {

    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 150%%;
}

@media ( max-width: 800px) {

    header {
        background-color: antiquewhite;

    }

    .left {
        background-color: aquamarine;

    }

}

@media ( max-width: 599px) {

    .flex-main {
        flex-direction: column;

    }

    .right {
        width: 100%;

    }

    ul {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        align-items: stretch;

    }

    li {
        display: inline;
        margin: 10px;


    }
